

a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.2s;
}

a:hover{
    color: cyan;
}

.pointer{
    cursor: pointer;
}

li {
    margin: 20px;
}

@media only screen and (min-width: 600px) {
    
    .navbar{
        justify-content: end;
    }
}


@media only screen and (max-width: 600px) {
    
    .navbar{
        justify-content: center;
    }
}