<div class="container-fluid d-flex align-items-center justify-content-end bg-dark alto">
    
    <ul class="nav justify-content-end bg-dark" style="margin-right: 20px;">
        <li class="fuente">
            <a class="nav-link pointer" routerLink="">Home</a>
        </li>
        <li class="fuente">
            <a class="nav-link pointer" routerLink="trabajos">Trabajos</a>
        </li>
        <li class="fuente">
            <a class="nav-link pointer">Contacto</a>
        </li>
    </ul>
             
</div>
