<!--
<nav class="navbar" style="background-color: #262e42;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/img/navbar.png" alt="" width="100px">
      </a>
    </div>
</nav>


<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard/buscador">Trabajos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/buscador">Contacto</a>
              </li>
          </ul>
    </div>
  </nav>



<div class="container-fluid">
    <header>
        <nav>
            <ul>
                <li><a href="#" class="fuente">Home</a></li>
                <li><a href="#" class="fuente">Trabajos</a></li>
                <li><a href="#" class="fuente">Contacto</a></li>
                <li><a href="#" class="fuente">Toggle</a></li>
            </ul>
        </nav>
    </header>
</div>

-->


<div class="container-fluid d-flex align-items-center justify-content-end bg-dark alto">
    
    <ul class="nav justify-content-end bg-dark" style="margin-right: 20px;">
        <li class="fuente">
            <a class="nav-link pointer">Home</a>
        </li>
        <li class="fuente">
            <a class="nav-link pointer">Trabajos</a>
        </li>
        <li class="fuente">
            <a class="nav-link pointer">Contacto</a>
        </li>
    </ul>
             
</div>
  
