/*
@media (max-width: 600px) {
    .facet_sidebar {
      display: none;
    }
}


.container {
  background-color: blue;
  margin-top: 25px;
  height: 80vh;
}

.row{
  height: 80vh;
}

/*


/*
@media (max-width: 700px) {
  .container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  app-presentacion{
    
    text-align: center;
  }
}

*/

.col-lg-4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*height: 30vh;*/
}

.col-lg-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 70vh;*/
}

.contenedor {
  /*background-color: rgb(29, 130, 218);*/
  height: auto;
  /*word-wrap: break-word;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: Ellipsis;
}