

<!--
<div class="container d-flex justify-content-space-between align-items-center">
        <app-presentacion></app-presentacion>
        <app-esfera></app-esfera>
</div>
-->

<!--<app-spinner *ngIf="loading"></app-spinner>-->
<!--Grid-->
<!--
<div class="container" *ngIf="!loading">
        <div class="row">
          <div class="col">
            <app-presentacion></app-presentacion>
          </div>
          <div class="col">
            <app-esfera></app-esfera>
          </div>
        </div>
</div>
-->
<div class="container">
  <div class="row">
    <div class="col-lg-4 d-flex" style="background-color: purple;">
      <app-presentacion></app-presentacion>
    </div>
    <div class="col-lg-8 d-flex justify-content-center" style="background-color: green;">
      <app-esfera></app-esfera>
    </div>
  </div> 
</div>

