<div class="container mt-4" style="text-align: center;">
    

    <input type="radio" id="all" name="button" checked>
    <input type="radio" id="fish" name="button">
    <input type="radio" id="birds" name="button">
    <input type="radio" id="lion" name="button">

    <label class="tag all" for="all">ALL</label>
    <label class="tag tag1" for="fish">ANGULAR</label>
    <label class="tag tag2" for="birds">SPRING-BOOT</label>
    <label class="tag tag3" for="lion">.NET</label>
    <br>

    <div class="images">

        <a href="" class="lion"><img src="../../../assets/img/estrategia.PNG" class="lion"  style="margin: 10px;"></a>
        <!--<img src="https://source.unsplash.com/BpH--upRlCs" class="lion" style="margin: 10px;">-->
        <!--<img src="https://source.unsplash.com/2vbhN2Yjb3A" class="lion" style="margin: 10px;">-->



        <a href="" class="birds"><img src="../../../assets/img/game.jpg" class="birds"  style="margin: 10px;"></a>
        <a href="" class="birds"><img src="../../../assets/img/portfolio.PNG" class="birds"  style="margin: 10px;"></a>



        <a href="" class="fish"><img src="../../../assets/img/homePedidos.PNG" class="fish"  style="margin: 10px;"></a>
        <!--<img src="https://source.unsplash.com/nI3bUW1Xqik" class="fish" style="margin: 10px;">-->
        <!--<img src="https://source.unsplash.com/qlnoAyck9Zc" class="fish" style="margin: 10px;">-->

    </div>

</div>